.containerPathologyRegister {
    display: flex;
    flex-direction: column;

    color: rgb(26, 22, 22);
}

.containerPathologyRegister fieldset {
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 2px 1px rgb(22, 20, 20);
}

.containerPathologyRegister fieldset > h4 {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.selectPatient {
    color: white;
    margin: 1rem;
    width: 100%;
    text-align: center;
}

.selectPatient select {
    width: 30%;
}

.selectPatient select option{
    border-radius: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;

    border: 1px solid ;
    border-radius: 5px;

    padding: 1rem;
    
    width: 80%;
    margin: 1rem auto 0;
}

.formControl {
    display: flex;
    justify-content: space-around;

    margin-bottom: 0.8rem;
}

.TextArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.TextArea textarea {
    width: 60%;
    height: 4rem;
    padding-left: 1rem;
    resize: none;
}

.controlRadio div label:last-child {
    margin-left: 1rem;
}

.controlRadio div {
    width: 150px;
}

.controlRadio div label {
    display: inline-flex;
    align-items: center;
}

.controlRadio div input {
    margin-right: 0.5rem;
}

.controlAllergic {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
    margin: 1rem auto 0;

    width: 80%;

    border: 1px solid;
    border-radius: 5px;
}

.controlAllergic > div {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.controlAnalysis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;

    padding: 1rem;
    margin: 1rem auto 0;

    border: 1px solid;
    border-radius: 5px;
}

.controlAnalysis > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controlAnalysis h3 {
    text-align: center;
    padding: 1rem;
}

.controlAnalysis > div > div{
    display: flex;
    flex-direction: column;

    margin-bottom: 0.5rem;
}

.controlAnalysis > div > div label{
    display: inline-flex;
    align-items: center;
}

.controlAnalysis > div > div input{
    margin-right: 0.5rem;
}

.SensitiveToPain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;

    padding: 1rem;
    margin: 1rem auto 0;

    border: 1px solid;
    border-radius: 5px;
}

.SensitiveToPain h3 {
    padding: 1rem;
    text-align: center;
}

.SensitiveToPain div {
    display: flex;
    justify-content: space-around;
}

.SensitiveToPain div label {
    display: inline-flex;
    align-items: center;
}


.SensitiveToPain div input {
    margin-right: 0.5rem;
}

.shoe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 80%;

    padding: 1rem;
    margin: 1rem auto 0;

    border: 1px solid;
    border-radius: 5px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    width: 80%;

    padding: 1rem;
    margin: 1rem auto 0;
}

.submit input {
    color: white;
    background: rgb(10, 158, 10);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 2rem;
    width: 10rem;
}

.submit input:hover {
    opacity: 0.9;
}

@media screen and (max-width: 769px) {
    .TextArea textarea{
        width: 100%;
    }

    .controlAllergic {
        flex-direction: column;
    }

    .controlAllergic div {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .controlAnalysis > div {
        flex-direction: column;
        margin-bottom: 1.5rem;
    }

    .controlAnalysis > div > div {
        margin-bottom: 1rem;
    }

    .controlAnalysis > div > div label {
        margin-left: 1rem;
    }

    .SensitiveToPain > div{
        flex-direction: column;
    }

    .shoe {
        flex-direction: column;
    }

    .shoe > div {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.5rem;
    }

}

@media screen and (max-width: 560px) {
    .formControl {
        flex-direction: column;
    }

    .controlRadio {
        margin-bottom: 0.8rem;
    }
    .TextArea textarea{
        width: 100%;
    }
}