.ContainerSchedule {
    border: 1px solid gray;

    width: 80%;
    margin: 2rem auto 0;
}

.ContainerScheduleTable {
    width: 80%;

    margin: 0 auto;

    text-align: center;
}

.ContainerScheduleTable th {
    border: 1px solid;
    
}

.calendar {
    /* border: 1px solid; */
    /* margin: 0 auto; */

}

.days {
    display: inline-flex;
    border: 1px solid;

    width: 7rem;
    height: 7rem;
}