@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: white;
  color: rgb(252, 245, 245);
}

.homepage {
  width: 100%;
  max-width: 1200px;
  margin:  0 auto;
  padding-top: 5.5rem;
}

main {
  width: 100%;
  max-width: 1024px;
  margin:  0 auto;
  padding-top: 5.5rem;
}



input:focus,
select:focus,
textarea:focus 
button:focus {
  outline: none;
}
input,
select {
  padding: 0.1rem 0 0.1rem 0.6rem;

  height: 2rem;

  font-size: 0.9rem;
}

